{% extends 'prebase.html' %}
{% block content %}
<div class="overflow-x-auto">
    <table class="table table-compact w-full">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Amount</th>
        </tr>

        {% for item in cart %}
        <tr>

            <th>{{ item["id"] }}</th>
            <td>{{ item["name"] }}</td>
            <td>{{ item["price"] }}</td>
            <td>{{ item["qty"] }}</td>
            {% set amt = item["price"] * item["qty"] %}
            <td>{{ amt }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th></th>
            <td></td>
            <td></td>
            <td>Total Price: </td>
            <td>{{ amount }}</td>
        </tr>
    </table>
</div>

<a href="/payment" class="btn btn-primary">pay</a>
{% endblock %}