{% extends 'base.html' %}
{% block content %}

<h1>{{ naming }}</h1>
<div class="menu">
    <div class="indicator">
        <a href="/added_to_cart" class="btn btn-primary">Check out</a>
    </div>
    {% for fooditem in fooditems %}
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">{{ fooditem.name }}</h2>
            <p>₹{{ fooditem.price }}</p>
            <div class="btn-group">
                <a href="/add_to_cart/{{fooditem.id}}-{{fooditem.name}}-{{fooditem.price}}" class="btn btn-active">Add
                    to Cart</a>

            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    </form>
    {% endblock %}