<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

</head>

<body>
   

    <div class="content">
        <h1>Welcome to Canteen Management System</h1>
        <p>Our system is designed to make it easy for you to order and pay for your meals at the canteen. You can browse
            our
            menu, place your order, track its status, and make payment all in one place.</p>
        <p>Our menu is updated regularly to reflect seasonal ingredients and current food trends, so you'll always have
            something new and delicious to try. </p>
        <button class="button">Login as Staff</button>
        <button class="button">Login as Customer</button>
    </div>
</body>

</html>