{% extends 'prebase.html' %}
{% block content %}
<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome to CMS!</h1>
            <p class="py-6">This is a simple Canteen Management system that serves as a quality-of-life improvement
                service, replacing the Hectic manual system. Login and Order Now!</p>
            <form action="{{ url_for('login') }}">
                <button class="btn btn-primary">Get Started</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}