{% extends 'base.html' %}
{% block content %}

<div class="alert alert-info shadow-lg">
    <div>
        <span>Here are orders:</span>
    </div>
</div>

{% for order in orders %}
<div class="alert shadow-lg">

    <div>
        <div>

            <h3 class="font-bold">{{ order.id }}</h3>

            <div class="text-xs">{{ order.date }}</div>
            <h3 class="font-bold">Item list:</h3>
            {% for item in order.order_items %}
            <div class="text-xs">{{ item.name }} - ₹{{ item.price }}</div>
            {% endfor %}

        </div>
    </div>


</div>
{% endfor %}


{% endblock %}